$cyan-600: #4d96a9;
$cyan-400: #71c0d4;
$cyan-300: #8fe3f9;
$purple-600: #855fb1;
$purple-400: #b18bdd;
$purple-300: #d9b8ff;
$state-900: #28283d;
$state-600: #87879d;
$state-300: #d1d1df;
$white: #fafafa;

$font-family-main: "Red Hat Display", sans-serif;

$mobile-font-size-xl: 2.5rem;
$mobile-font-size-l: 2rem;
$mobile-font-size-s: 0.75rem;

$tablet-font-size-xl: 3rem;
$tablet-font-size-l: 2.25rem;
$tablet-font-size-m: 1rem;
$tablet-font-size-s: 0.875rem;

$desktop-font-size-xl: 4rem;
$desktop-font-size-l: 2.5rem;
$desktop-font-size-m: 1.125rem;
$desktop-font-size-s: 1rem;

$line-height-normal: 1.1;
$line-height-loose: 1.5;

$letter-spacing-normal: 0;
$letter-spacing-wide: 4px;

$spacing-50: 4px;
$spacing-100: 8px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-700: 56px;
$spacing-800: 64px;
$spacing-900: 72px;
$spacing-1000: 80px;
$spacing-1400: 112px;

$section-counter-size: 3.5rem;
$section-counter-vertical-bar-height: 5rem;
